name: Node.js CI # The name of your workflow

on:
  push:
    branches: [ master ] # Trigger on pushes to the main branch

jobs:
  build:
    runs-on: ubuntu-latest # The operating system the job runs on

    steps:
    - uses: actions/checkout@v4 # Step to check out your repository code
    - name: Use Node.js
      uses: actions/setup-node@v4 # Step to set up Node.js environment
      with:
        node-version: '20.x' # Specify the desired Node.js version
        cache: 'npm' # Caches dependencies to speed up subsequent runs
    - name: Install dependencies
      run: |
        npm install 
        npm run build 
