name: Node.js CI # The name of your workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deploy environment'
        required: true
        default: 'staging'
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest # The operating system the job runs on

    steps:
    - uses: actions/checkout@v4 # Step to check out your repository code
    - name: Use Node.js
      uses: actions/setup-node@v4 # Step to set up Node.js environment
      with:
        node-version: '20.x' # Specify the desired Node.js version
        cache: 'npm' # Caches dependencies to speed up subsequent runs
    - name: Install dependencies and build
      run: |
        npm install 
        npm run build 

    - name: Deploy to FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: dist/
        server-dir: htdocs/
